@import "./colors.scss";

.cart-items {
  padding: 0 0.5rem;
  .cart-item {
    display: flex;
    background-color: white;
    margin-bottom: 0.3rem;

    .product-img {
      width: 100px;
      height: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ddd;

      img {
        max-height: 95%;
        max-width: 95%;
      }
    }

    .product-details {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 2;

      .product-name {
        font-size: 1.1rem;
        border-bottom: 1px solid lighten($dark, 20);
        margin-bottom: 2px;
      }

      .product-price {
        margin-left: auto;
        font-weight: bold;
        padding-right: 0.5rem;
      }

      .product-quantity {
        margin-left: auto;
        font-size: 0.8rem;
        line-height: 0.8;
        padding-right: 0.5rem;
      }
    }

    .remove-btn {
      margin: auto 1rem;
      height: 1.5rem;
      width: 1.5rem;
      color: rgb(153, 25, 25);
    }
  }
}
