@import "./colors.scss";
@import "./breakpoints.scss";

.cart-items {
  padding: 0 0.5rem;

  @include lg {
    padding: 0;
  }

  .cart-item {
    display: flex;
    background-color: white;
    margin-bottom: 0.3rem;
    height: 6rem;

    .product-img {
      min-width: 25%;
      max-width: 25%;
      max-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ddd;

      img {
        max-height: 95%;
        max-width: 95%;
      }
    }

    .product-details {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 55%;

      @include lg {
        padding-left: 2rem;
      }

      .product-name {
        font-size: 1.1rem;
        border-bottom: 1px solid lighten($dark, 20);
        margin-bottom: 2px;
        max-height: 1.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
      }

      .product-price {
        margin-left: auto;
        font-weight: bold;
        padding-right: 0.5rem;
      }

      .product-quantity {
        margin-left: auto;
        font-size: 0.8rem;
        line-height: 0.8;
        padding-right: 0.5rem;
      }
    }

    .remove-btn {
      min-height: 100%;
      min-width: 20%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 1rem;

      svg {
        height: 1.5rem;
        min-height: 1.5rem;
        width: 1.5rem;
        min-width: 1.5rem;
        color: rgb(153, 25, 25);
        margin-top: 5px;
      }
    }
  }
}

.cart-footer {
  margin: 0.5rem;

  @include lg {
    margin: 0.5rem 0;
  }
}

.cart-total {
  padding: 0.5rem 1rem;
  color: white;
  background-color: darken($color: $primary-color, $amount: 20);

  .total-price {
    margin-left: 1rem;
  }
}

.checkout-btn {
  width: 40%;
  background: $primary-color;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  margin-top: 1rem;
  font-size: 1rem;
}
